<style>
h1, h2, h3, article > footer { background: #DCDCDC; color: black; }
hgroup > h1 { margin-bottom: 0; margin-top: 0}
hgroup > h2 { background: grey; color: white; font-size: 1em;
margin-top: 0px; margin-bottom: 2px}
body > header *, body > footer * { background:transparent; color:black;}
body > article > section,
body > article > section > section {margin-left: 10px;}
body > header {
border: medium solid black; padding-left: 5px; margin: 10px 0 10px 0;
}
article {border: thin black solid; padding: 10px; margin-bottom: 5px}
details {border: solid thin black; padding: 5px}
details > summary { font-weight: bold}

progress {
 	/*height: 18px;
    width: 250px;
    border-radius: 20px;*/
    -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;

}


progress::-webkit-progress-bar {
	background-color: #eee;
	}

	

article {
	width: 1000px;
	border: thin black solid; 
	padding: 25px; 
	margin-bottom: 5px;
	margin:auto;
	border-radius:7px;
	/*padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;*/
}

#button {
height:30px;
width:80px;
/*border-radius:15px;*/
border: 1px solid black;
background:white;
}

#showHide {
  width: 15px;
  height: 15px;
  float: left;
}

#showHideLabel {
  float: left;
  padding-left: 5px;
}


</style>