<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

   
  </head>
  <body>
   <div class="container">
             
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
         
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
             <!--  <a class="navbar-brand page-scroll" href="#page-top">Homeless Data Analysis</a> -->
            </div>

 		 <!-- 	<div class="nav navbar-header navbar-nav collapse navbar-collapse">
            	<a href="/#home" class="btn pull-left btn-lg btn-warning active page-scroll">
                    	<span class="glyphicon glyphicon-home"> HomelessAnalysis</span>
                </a>
            </div> --> 
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-inverse navbar-right">      
                 
                 
                   
                   <li>
                        <a class="page-scroll" href="/#Home"><span class="glyphicon glyphicon-home"></span><b> HomelessAnalysis</b></a>
                    </li>  
                   <li>
                        <a class="page-scroll" href="/#Statistics"><span class="glyphicon glyphicon-stats"></span> <b> Statistics</b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#portfolio"><span class="glyphicon glyphicon-gift"></span> <b> Services</b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#Ending"><span class="glyphicon glyphicon-globe"></span><b> Ending Homelessness</b></a>
                    </li>
                     <li>
                        <a class="page-scroll" href="/homelessFacts"> <span class="glyphicon glyphicon-gift"></span> Facts</a>
                    </li>	
                    <li>
                        <a class="page-scroll" href="/#Volunteer"><span class="glyphicon glyphicon-link"></span> <b>Volunteer</b></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#donate"><span class="glyphicon glyphicon-usd"></span><b> Donate</b></a>
                    </li>
                         <li>
                        <a class="page-scroll" href="/#donate"><span class="glyphicon glyphicon-user"></span> <b> About Us</b></a>
                    </li>
                    

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>

        <!-- /.container-fluid -->
    </nav>
    </div>


  </body>
 
</html>